extends ../includes/layout.pug
include ../../components/components-index.pug

block links
  //- link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab:400,100,300,700,900', rel='stylesheet', type='text/css')
  //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/master.css')
block title
  title Random Quote Generator

block content
  .main-container.flbox.flcol
    .header
      h1 Random Quote Generator
    .quotebox.flbox.flcol
      .quotebox--quote#quotebox--quote-js
        | "You are the world and the world is you."
      .quotebox--author#quotebox--author-js
        | "Jiddu Krishnamurti"
      .quotebox--buttons.flbox
        button#quoteButton Generate another quote
        button Tweet this quote

    footer
      p created by Thiago de Bastos, 2016. No rights reserved.
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js")
  script(src="js/main.js")
