@require 'utilities/*'
@import '../components/*'

// =============================================================================
// CUSTOMS STYLES
// =============================================================================
body
  height 100vh
  display flex
  flex-direction column
.mainContainer
  flex 1
  display flex
  flex-direction column
  justify-content center
  align-items center
.quotebox
  display flex
  flex-direction column
  width 50em
footer
  width 100%
  margin-bottom 0
